.app{
  display:flex;
  flex-direction: column;
}
.main{
  position: relative;
  margin-right: 300px;
  margin-top:80px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: flex-end;
}
@media(max-width:900px){
  .main{
      margin-right:0;
      padding: 10px;
  }
}