.app{
  display:flex;
  flex-direction: column;
}
.main{
  position: relative;
  margin-right: 300px;
  margin-top:80px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: flex-end;
}